@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font-family: "Ubuntu", sans-serif;
  --bg-img: url("./img/galaxy-2.jpg");
  --primary-color: #fff;
}

body {
  background-image: var(--bg-img);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 1px #fff;
}

/* .btn-jogar {
  padding: 8px 15px;
  border: 0;
  background: var(--primary-color);
  border-radius: 5px;
  margin-top: 40px;
} */

/* CSS */
.btn-jogar {
  background: linear-gradient(to bottom right, #a020f0, #ff007f);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 40px;
}

.btn-jogar:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-jogar:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
